<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Spring MVC view layer: Thymeleaf vs. JSP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/bootstrap.css}"/>

</head>

<body>


    <div th:replace="nav"></div>

    <h1>User created:</h1>
    <div th:each="user : ${users}">
        <p th:text="*{user.username}"></p>
        <p th:text="*{user.password}"></p>
        <p th:text="*{user.email}"></p>
    </div>




<script th:src="@{/resources/2.1.4/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.js}"></script>

</body>

</html>